
#contenedorinicio{

    height: 50px;
    background-image: url(/img/123.jpg);
    padding: 200px;
    overflow: hidden;
    width: 73%;
    margin: 10 auto;
    
    }
    
    #colum1{
        background-image: url(/img/goky.jpg);

 
    background-color: rgb(244, 255, 196);
        background-image: url(/img/images.jpg);
        color: antiquewhite;
    position: absolute;
    width: 300px;
    height: 200px;
    margin-left: -100px;
    margin-top: -100px;
    border: 5px solid rgb(0, 0, 0);
    text-align: center;
    }
    
    #colum2{
        background-color: rgb(196, 255, 250);
        position: absolute;
        width: 300px;
        height: 200px;
        margin-left: 310px;
        margin-top: -100px;
        border: 5px solid black;
        text-align: center;
        
        color: antiquewhite;

        background-image: url(/img/123.jpg);
        background-size:  100%;

    }
    
    #colum3{
        background-color: rgb(196, 255, 250);
        position: absolute;
        width: 300px;
        height: 200px;
        margin-left: 750px;
        margin-top: -100px;
        background-image: url(/img/pokeeee.png);
        text-align: center;
        color: rgb(215, 250, 250);

        background-image: url(/img/goku.jpg);

    }
    #menu{

        height: 200px;
        width: 1440px;
        background-image: url(/img/pokeeee.png);

    }

    #footer{
    height: 100px;
    width: 1440px;
    background-color: blueviolet;

    background-image: url(/img/images\ \(2\).jpg);

    }